---
---
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}
.CodeMirror {
  height: inherit;
}

$brand-color: #63ADFC;
@import "typography";


$screen-md-width: 767px;

.main-paginator {
  @include clearfix;
  margin-bottom: 15px;
  .left {
    float: left;
  }
  .left.disabled, .right.disabled {
    color: #AAA;
    cursor: not-allowed;
    &:hover {
      color: #AAA;
    }
  }
  .right {
    float: right;
  }
}

.container {
  max-width: 920px;
  display: flex;
  margin: 0 auto;
}

.left-nav {
  position: fixed;
  width: 200px;
  padding: 0 10px;
  box-sizing: border-box;
  a {
    color: #555;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &>.left-nav-menu {
    list-style: none;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    &>li {
      margin-bottom: 10px;
    }
    @media (max-width: $screen-md-width) {
      flex-direction: row;
      &>li {
        margin-right: 10px;
      }
    }
  }
  .copyright {
    color: #AAA;
    font-size: 0.8em;
    line-height: 1.6;
  }
}

.main {
  flex: 1;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px 0 200px;
  overflow: auto;
}

@media (max-width: $screen-md-width) {
  .container {
    flex-direction: column;
  }
  .left-nav {
    width: 100%;
    position: inherit;
    text-align: center;
    .left-nav-menu {
      justify-content: center;
    }
  }
  .main {
    width: 100%;
    padding: 0 10px;
  }
}

.recent .post {
  margin-bottom: 75px;
}

.post-content {
  margin: 15px auto;
}

.post-nav {
  @include clearfix;
  margin-bottom: 15px;
  .left {
    float: left;
  }
  .right {
    float:right;
  }
}
.post-top {
  margin: 25px 0;
}
.post-info {
  margin-bottom: 15px;
  color: gray;
  .post-info-tags {
    margin-left: 15px;
  }
  .post-info-tags-item {
    background-color: $brand-color;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
  }
}
.post-title small {
  color: gray;
}