---
---
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
* {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

$brand-primary: #63ADFC;

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 10%);

$screen-md-width: 767px;

.main-paginator {
  @include clearfix;
  margin-bottom: 15px;
  .left {
    float: left;
  }
  .left.disabled, .right.disabled {
    color: #AAA;
    cursor: not-allowed;
    &:hover {
      color: #AAA;
    }
  }
  .right {
    float: right;
  }
}

@media (max-width: $screen-md-width) {
  .container {
    flex-direction: column;
  }
  .left-nav {
    width: 100%;
  }
  .main {
    width: 100%;
  }
}

.container {
  max-width: 920px;
  display: flex;
  margin: 0 auto;
}
.left-nav {
  width: 200px;
  a {
    color: #555;
  }
  &>.left-nav-menu {
    list-style: none;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    &>li {
      margin-bottom: 10px;
    }
    @media (max-width: $screen-md-width) {
      flex-direction: row;
      &>li {
        margin-right: 10px;
      }
    }
  }
  .copyright {
    color: #AAA;
    font-size: 0.8em;
  }
}

.main {
  flex: 1;
  margin: 0 auto;
}

.post-content {
  margin: 15px auto;
}
.post-nav {
  @include clearfix;
  .left {
    float: left;
  }
  .right {
    float:right;
  }
}