<!DOCTYPE html>
<html lang="ko">

  {% include head.html %}

  <body>

    <div class="container">

        <nav class="left-nav col-md-3">
          <header>
            <h2>
              <a href="/">Rokt33r</a>
              <small>
                <a class="ui basic button" href="https://github.com/rokt33r" target="_blank">
                  <i class="fa fa-github"></i>
                </a>

                <a class="ui basic button" href="https://twitter.com/rokt33r" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </small>
            </h2>
          </header>

          <ul class="left-nav-menu">
            <li><a href="/devnotes">Dev Notes</a></li>
            <li><a href="/projects">Projects</a></li>
          </ul>
        </nav>

        <main class="main col-md-9">
          {{ content }}
          <footer class="footer gfm">
            <p class="copyright">&copy; {{ site.time | date: '%Y' }} Junyoung Choi.<br/>All rights reserved.</p>
          </footer>
        </main>

    </div>

    {% include scripts.html %}
  </body>
</html>
